* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* colors */
/* ### Neutral */
:root {
  --AlmostWhite: hsl(0, 0%, 98%);
  --MediumGray: hsl(0, 0%, 41%);
  --AlmostBlack: hsl(0, 0%, 8%);
}

body {
  font-family: "Epilogue", sans-serif;
  background-color: var(--AlmostWhite);
}
header {
  height: 17.5em;
  display: flex;
  justify-content: flex-start;
}
.navigation {
  display: flex;
  justify-content: space-between;
  gap: 10em;
  margin-top: 1.5em;
  margin-left: 12em;
  /* display: none; */
}
.logo {
  position: absolute;
  margin-left: 2em;
  margin-top: 1.5em;
}
.list-1,
.list-2 {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}
.list-1 li:hover,
.list-1 > li:active,
.list-1 li > a:hover,
.list-1 li > a:active,
.list-2 li a:hover,
.list-2 li a:active {
  color: var(--AlmostBlack);
}
#features:hover > ul {
  display: block;
}

#company:hover > ul {
  display: block;
}

li {
  list-style: none;
  color: var(--MediumGray);
  padding: 0.5em;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: var(--MediumGray);
}
.sub-list-1,
.sub-list-2 {
  position: absolute;
  background-color: white;
  padding: 1.5em;
  top: 3.5em;
  border-radius: 10px;
  display: none;
}
.sub-list-1 {
  margin-left: -6em;
}
.sub-list-1 img {
  padding-right: 1em;
}
.register a {
  border: 1px solid var(--AlmostBlack);
  padding: 0.5em 1.5em;

  border-radius: 10px;
  margin-right: 1em;
}
.icon-menu-wrapper {
  position: absolute;
}
.icon-menu-wrapper img{
  cursor: pointer;
}
.op{
  display: none;
}
.cl{
  display: none;
}
.content-wrapper {
  display: flex;
  justify-content: space-between;
}
.make-a-remote-work-wrapper {
  width: 90%;
  margin: auto;
  margin-top: -15%;
  padding: 12% 12% 0 12%;
}
.make-a-remote-work-wrapper h1 {
  font-size: 4.5rem;
  font-weight: 700;
}
.make-a-remote-work-wrapper p {
  font-size: 1.2rem;
  padding-top: 2em;
  color: var(--MediumGray);
  line-height: 30px;
}
.lean-more {
  margin-top: 4em;
}
.lean-more a {
  border: 1px solid var(--AlmostBlack);
  border-radius: 10px;
  padding: 1em 1.5em;
  background-color: var(--AlmostBlack);
  font-weight: bold;
  color: white;
}
.lean-more a:hover,
.lean-more a:active {
  background-color: var(--AlmostWhite);
  color: var(--AlmostBlack);
}

.client-icon {
  display: inline-block;
  margin-top: 5em;
}
.client-icon img {
  width: 5em;
  margin-left: 1.55em;
}

.image-hero {
  position: relative;
  background: url(../images/image-hero-desktop.png) no-repeat;
  background-size: contain;
  width: 100%;
  height: 38em;
  top: -10em;
}

@media (max-width: 600px) {
  .logo {
    width: 22%;
  }
  .icon-menu-wrapper {
    display: block;
    position: absolute;
    margin-left: 88%;
    margin-top: 1.5em;
    z-index: 1;
  }
  .op{
    display: block;
  }
  .close{
    display: none;
  }

  .cl{
    display: none;
  }
  .open{
    display: block;
  }

  .icon-menu-wrapper :first-child {
    position: inherit;
    margin-left: -10%;
  }
  .navigation {
    position: absolute;
    flex-direction: column;
    background-color: aqua;
    padding: 2em;
    position: fixed;
    width: 80%;
    height: 100vh;
    margin-top: -0.01em;
    left: -25%;
    display: none;
  }
  .toggle-active {
    display: block;
  }
  .toggle-close {
    display: none;
  }
  
  .list-1,
  .list-2 {
    flex-direction: column;
    gap: 0.5em;
  }
  .list-1 > li{
    margin-bottom: 1em;
  }
  #features ul :last-child {
    margin-bottom: 5em;
    padding-bottom: 0;
  }
  #company {
    z-index: 1;
  }
  #company ul :last-child {
    margin-bottom: 2em;
  }
  #career {
    z-index: 2;
  }
  .list-2 {
    margin-top: 2em;
    text-align: center;
  }
  .sub-list-1,
  .sub-list-2 {
    position: relative;
    width: 60%;
    margin-top: -1em;
    margin-left: 1em;
    background: none;
    padding: 5px;
    transition: 0.8s;
  }
  .sub-list-1 {
    margin-top: -3.5em;
    margin-bottom: -2em;
  }
  .sub-list-2 {
    margin-top: -3em;
  }
  .register a {
    padding-right: -5em;
  }

  .content-wrapper {
    display: grid;
  }

  .image-hero {
    grid-row: 1;
    background: url(../images/image-hero-mobile.png) 0/100% no-repeat;
    margin-top: -12em;
    z-index: -1;
  }
  .make-a-remote-work-wrapper {
    grid-row: 2;
    width: 100%;
    margin: auto;
    margin-top: -18em;
    margin-bottom: 2em;
    align-items: center;
    padding: 5%;
  }
  .make-a-remote-work-wrapper h1 {
    font-size: 1.8rem;
    text-align: center;
  }
  .make-a-remote-work-wrapper p {
    font-size: 0.95rem;
    text-align: center;
    line-height: 25px;
    margin-top: -1em;
    margin-bottom: -1.5em;
  }
  .lean-more {
    margin-left: 25%;
  }
  .client-icon {
    margin-left: -1em;
  }
  .client-icon img {
    width: 22%;
    margin-left: 4%;
  }
  .client-icon :nth-child(2) {
    width: 14%;
  }
}
