* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* colors */
/* ### Neutral */
:root {
  --AlmostWhite: hsl(0, 0%, 98%);
  --MediumGray: hsl(0, 0%, 41%);
  --AlmostBlack: hsl(0, 0%, 8%);
}

body {
  font-family: "Epilogue", sans-serif;
  background-color: var(--AlmostWhite);
}
header {
  height: 17.5em;
}
.navigation {
  margin-top: 1em;
}
.logo {
  position: absolute;
  margin-left: 2em;
  display: inline-block;
  left: -10em;
}
.logo-menu-list-1-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin-left: 10em;
}
.list-1,
.list-2 {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}
.list-1 li:hover,
.list-1 > li:active,
.list-1 li > a:hover,
.list-1 li > a:active,
.list-2 li a:hover,
.list-2 li a:active {
  color: var(--AlmostBlack);
}
#features:hover > ul {
  display: block;
}

#company:hover > ul {
  display: block;
}

li {
  list-style: none;
  color: var(--MediumGray);
  padding: 0.5em;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: var(--MediumGray);
}
.sub-list-1,
.sub-list-2 {
  position: absolute;
  background-color: white;
  padding: 1.5em;
  top: 3em;
  border-radius: 10px;
  display: none;
}
.sub-list-1 {
  left: -4em;
}
.sub-list-1 img {
  padding-right: 1em;
}
.register {
  border: 1px solid var(--AlmostBlack);
  border-radius: 10px;
  margin-right: 1em;
}
.register a {
  padding: 0 0.5em;
}
.icon-menu-wrapper {
  display: none;
  position: absolute;
}
.content-wrapper {
  display: flex;
  justify-content: space-between;
}
.make-a-remote-work-wrapper {
  width: 90%;
  margin: auto;
  margin-top: -15%;
  padding: 12% 12% 0 12%;
}
.make-a-remote-work-wrapper h1 {
  font-size: 4.5rem;
  font-weight: 700;
}
.make-a-remote-work-wrapper p {
  font-size: 1.2rem;
  padding-top: 2em;
  color: var(--MediumGray);
  line-height: 30px;
}
.lean-more {
  margin-top: 4em;
}
.lean-more a {
  border: 1px solid var(--AlmostBlack);
  border-radius: 10px;
  padding: 1em 2em;
  background-color: var(--AlmostBlack);
  font-weight: bold;
  color: white;
}
.lean-more a:hover,
.lean-more a:active {
  background-color: var(--AlmostWhite);
  color: var(--AlmostBlack);
}

.client-icon {
    display: inline-block;
  margin-top: 5em;
}
.client-icon img {
 width: 5em;
 margin-left: 1.55em;
}

.image-hero {
    position: relative;
  background: url(../images/image-hero-desktop.png)  no-repeat;
  background-size: contain;
  width: 100%;
  height: 38em;
  top: -10em;
}
/* @media (max-width: 1200px) {
  .make-a-remote-work-wrapper {
    width: 65%;
    margin-top: -1em;
    margin-left: 10em; 
  }
  .make-a-remote-work-wrapper h1 {
    font-size: 4rem;
  }
  .image-hero {
    height: 34em;
  }
  .make-a-remote-work-wrapper p {
    font-size: 1rem;
  }
  .client-icon img {
    width: 6em;
  }
} */
/* @media (max-width: 922px) {
  .make-a-remote-work-wrapper {
    width: 80%;
    margin-top: -2em;
    margin-left: 8em;
  }
  .make-a-remote-work-wrapper h1 {
    font-size: 3.4rem;
  }
  .image-hero {
    height: 30em;
  }
  .make-a-remote-work-wrapper p {
    font-size: 0.9rem;
  }

  .client-icon img {
    width: 5em;
  }
  .logo-menu-list-1-wrapper ul {
    justify-content: flex-start;
  }
  .logo-menu-list-1-wrapper ul li {
    margin-left: -1em;
  }
  .lean-more a {
    padding: 1em;
  }
  .sub-list-1 {
    padding: 2px;  
  }
} */
/* @media (max-width: 768px) {
  .logo-menu-list-1-wrapper {
    flex-direction: column;
  }
  .list-1,
  .list-2 {
    position: relative;
    justify-content: flex-start;
    overflow: hidden;
    flex-direction: column;
    width: 20em;
    height: 35em;
    margin-top: -30px;
    background-color: aquamarine;
  }
  .list-1 :first-child {
    margin-top: 3em;
    margin-bottom: -20px;
  }
  .list-1 :first-child img {
    padding-top: -10px;
  }

  .list-1 :not(:first-child) {
    margin-top: -20px;
  }
  .list-2 {
    top: -15em;
  }

  .hide {
    display: none;
  }
  .icon-menu-wrapper {
    display: inline;
  }
} */

@media (max-width: 600px) {
  body{
    /* height: 100vh; */
  }
  .logo-menu-list-1-wrapper {
    flex-direction: column;
  }
  .icon-menu-wrapper {
    position: absolute;
    display: block;
    margin-left: 9em;
    z-index: 2;
  }
  .list-1,
  .list-2 {
    position: fixed;
    justify-content: flex-start;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    /* z-index: 2; */
    margin-top: -30px;
    /* margin-left: -4em; */
  }
  .list-1{
    background-color: aquamarine;

  }

  .list-2 {
    background-color: blueviolet;
    /* margin-left: -3em; */
    text-align: start;
    /* padding-bottom: 1.5em; */
  }
  .list-1 :first-child {
    margin-top: 3em;
    margin-bottom: -20px;
  }
  .list-1 :first-child img {
    padding-top: -10px;
  }

  .list-1 :not(:first-child) {
    margin-top: -20px;
  }
  .list-2 {
    top: -15em;
  }
  .sub-list-1 {
    position: relative;
  }
  .sub-list-2 {
    position: relative;
  }
  .hide {
    /* display: none; */
  }
  .icon-menu-wrapper {
    /* display: inline; */
  }
  .content-wrapper {
    display: grid;
  }

  .image-hero {
    grid-row: 1;
    background: url(../images/image-hero-mobile.png) 0/100% no-repeat;
    margin-top: -14em;
    z-index: -1;
  }
  .make-a-remote-work-wrapper {
    grid-row: 2;
    width: 100%;
    margin: auto;
    margin-top: -14em;
    align-items: center;
    padding: 5%;
  }
  .make-a-remote-work-wrapper h1 {
    font-size: 1.8rem;
    text-align: center;
  }
  .make-a-remote-work-wrapper p {
    font-size: 0.95rem;
    text-align: center;
    line-height: 25px;
    margin-top: -1em;
  }
  .lean-more {
    margin-left: 25%;
  }
  .client-icon img {
    width: 20%;
    margin-left: 2%;
  }
}
